<head>
  <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Krona+One&display=swap" rel="stylesheet">
</head>

<div>

  <div id="container-bild">
    <img src="assets/img/settings.jpeg" id="img-bild">
  </div>

  <div class="header verticalAlign">

    <span class="header">
      Profile
    </span>

    <div>

      <div>
        <button [routerLink]="['account']">
          Account
        </button>
      </div>

      <div class="buttonTopMargin">
        <button [routerLink]="['messagesSettings']">
          Messages Settings
        </button>
      </div>

    </div>

  </div>

</div>
