.stepper {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80% !important;
}

.centerHeading {
  margin: 1em;
  text-align: center;
}

mat-form-field {
  width: 300px !important;
  margin: 2em;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rebeccapurple !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rebeccapurple !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rebeccapurple !important;
}

.error-message {
  color: red;
}
