<div>
  <p>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <label>
        <input matInput [(ngModel)]="username">
      </label>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <label>
        <input matInput [(ngModel)]="password">
      </label>
    </mat-form-field>
  </p>

  <p>
    <button color="primary" mat-raised-button [routerLink]="['/registerForm']" >Register</button>
    <button color='primary' mat-raised-button (click)="submitForm(username, password)">
      Submit
    </button>
  </p>
</div>
