<div mat-dialog-content>
  <p>Change Password</p>

  <p *ngIf="oldPasswordIsWrong" class="notApproveMessage">
    Could not approve password change.
  </p>

  <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <input matInput [(ngModel)]="oldPassword" type="password">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput [(ngModel)]="data.password" type="password">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm Pass</mat-label>
    <input matInput [(ngModel)]="confirmpassword" type="password">
  </mat-form-field>

</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="approvePasswordChange()" [mat-dialog-close]="data.password">Continue</button>
</div>

