<div class="margin-top" >
  <mat-form-field class="line-width">
    <mat-label>Event Name</mat-label>
    <input matInput required [(ngModel)]="eventName">
  </mat-form-field>
</div>

<div>
  <mat-form-field class="line-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [(ngModel)]="eventDate" [matDatepicker]="picker" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div>
  <mat-form-field class="line-width">
    <mat-label>Body</mat-label>
    <textarea matInput required [(ngModel)]="eventBody"></textarea>
  </mat-form-field>
</div>

<div>
  <button mat-raised-button color="primary" (click)="saveForm()">
    <mat-icon>save</mat-icon>
  </button>
</div>
