.center {
  text-align: center;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  height: 70px;
}

.logoImageSize {
  height: 70px;
}
