<mat-toolbar color="primary" class="center">
  <button mat-button routerLink="/">

    <img src="/assets/img/mainLogo.png">
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button mat-icon-button [routerLink]="['text']">
    <mat-icon>smartphone</mat-icon>
  </button>
<!--  <button mat-raised-button mat-icon-button [routerLink]="['sendSMS']">-->
<!--    <mat-icon>person</mat-icon>-->
<!--  </button>-->
  <button mat-raised-button mat-icon-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar *ngIf="isMasterUser()" color="primary" class="center">
  <span class="fill-remaining-space"></span>
  <button mat-raised-button mat-icon-button [routerLink]="['defaultEvent']">
    <mat-icon>today</mat-icon>
  </button>
</mat-toolbar>
