.logoImage {
  height: 70px;
}

.center {
  justify-content: center;
}

.alignContent {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 275px;
  height: auto;
  background-color: #212121;
}

.toolBar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  color: #212121;
}

.cdk-overlay-container{
  left:200px;
  top:200px;
}
.cdk-overlay-connected-position-bounding-box{
  top:0 !important;
}

.whiteFont {
  color: white;
}

.darkMenu {
  background: #212121 !important;
}
