.logoImage {
  height: 70px;
}

.center {
  justify-content: center;
}

.alignContent {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 275px;
  height: auto;
}

a:hover {
  background-color: orangered;
}

.toolBar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
