<div class="toolBar">
  <mat-toolbar color="primary">

    <button mat-icon-button [disabled]="isUserLoggedIn()" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="alignContent"></span>

    <button mat-button [disabled]="isUserLoggedIn()">
      <img class="logoImage" src="/assets/img/mainLogo.jpeg">
    </button>

    <span class="alignContent"></span>

    <button mat-raised-button mat-icon-button [matMenuTriggerFor]="profileMenu"
            [disabled]="isUserLoggedIn()">
      <mat-icon>person</mat-icon>
    </button>

  </mat-toolbar>

  <mat-menu #profileMenu="matMenu">
    <span mat-menu-item *ngIf="this.user">Hi, {{userName}}!</span>
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
    <button *ngIf="user" mat-menu-item (click)="logout()">
      Logout
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button *ngIf="!user" mat-menu-item [routerLink]="'login'">Register/Login</button>
  </mat-menu>

</div>

<mat-sidenav-container [class.mat-elevation-z2]="true">
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a class="whiteFont" mat-list-item [matMenuTriggerFor]="profileMenu" [class.mat-elevation-z2]="true">
        <mat-icon>person</mat-icon>
        <span style="margin-left: 2em" [routerLink]="'profile'">{{this.userName? this.userName :'Profile'}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </a>

      <a class="whiteFont" mat-list-item [mat-menu-trigger-for]="neverForgetATextMenu" disabled="{{!this.user}}"
         [class.mat-elevation-z2]="true">Never Forget A Text
      <mat-icon>keyboard_arrow_down</mat-icon>
      </a>


      <mat-menu #neverForgetATextMenu="matMenu" class="mat-background-primary">
        <button mat-menu-item [routerLink]="'/text'">Menu</button>
        <button mat-menu-item [routerLink]="'/text/contacts'">Contacts</button>
        <button mat-menu-item [routerLink]="'/messages'">Messages</button>
      </mat-menu>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
