<head>
  <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Krona+One&display=swap" rel="stylesheet">
</head>


<div>
  <div id="container-bild">
    <img src="assets/img/portfolioBackground.jpg" id="img-bild">
  </div>

  <div class="header verticalAlign">

    <span class="header">
      PortFolio
    </span>

    <div class="buttonTopMargin">
      <button mat-raised-button disabled style="color: white">*Never Forget A Text
      </button>
    </div>
    <div style="font-size: 10px">
      *Button is disabled until <br>
      site is published.
    </div>
  </div>
</div>
