<h1>Events For {{'TODO'}}</h1>


<div>
  <div>
    <button mat-raised-button [routerLink]="['/newEvent']" [queryParams]="{'cid': contactID}" >
      Create new event
    </button>
<!--    <button mat-raised-button [routerLink]="['/default']" [queryParams]="{'cid': contactID}">-->
<!--      Events Default-->
<!--    </button>-->
  </div>
</div>

<table *ngIf="events" class="mat-elevation-z4">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
  </tr>
  <tr class="element-row" *ngFor="let event of events.triggers" (dblclick)="routeToEdit(event.event.id)">
    <td>{{event.event.name}}</td>
    <td>{{event.date}}</td>
    <td>
      <button mat-raised-button mat-icon-button (click)="deleteEvent(event.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </tr>
</table>

<h1 *ngIf="!events">No current events for {{'TODO'}}!</h1>
