<head>
  <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Krona+One&display=swap" rel="stylesheet">
</head>

<div>

  <div id="container-bild">
    <img src="assets/img/eventsBackground.jpg" id="img-bild">
  </div>

  <div>
    <button mat-raised-button [routerLink]="['/newEvent']" [queryParams]="{'cid': contactID}" >
      Create new event
    </button>
<!--    <button mat-raised-button [routerLink]="['/default']" [queryParams]="{'cid': contactID}">-->
<!--      Events Default-->
<!--    </button>-->
  </div>
</div>

<table *ngIf="triggers?.length" class="mat-elevation-z4">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
  </tr>
  <tr class="element-row" *ngFor="let trigger of triggers" (dblclick)="routeToEdit(trigger?.eventID)">
    <td>{{trigger?.event?.name}}</td>
    <td>{{trigger?.date}}</td>
    <td>
      <button mat-raised-button mat-icon-button (click)="deleteEvent(trigger?.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </tr>
</table>

