<h1 *ngIf="currentContact">Events for {{currentContact.fname}} {{currentContact.lname}}</h1>


<div class="bottomMargin">
  <div>
    <button mat-raised-button [routerLink]="['/newEvent']" [queryParams]="{'cid': contactID}" >
      Create new event
    </button>
<!--    <button mat-raised-button [routerLink]="['/default']" [queryParams]="{'cid': contactID}">-->
<!--      Events Default-->
<!--    </button>-->
  </div>
</div>

<table *ngIf="events" class="mat-elevation-z4">
  <tr>
    <td>Name</td>
    <td>Date</td>
  </tr>
  <tr class="element-row" *ngFor="let event of events.triggers" (dblclick)="routeToEdit(event.event.id)">
    <th>{{event.event.name}}</th>
    <th>{{event.date}}</th>
  </tr>
</table>

<h1 *ngIf="!events">No current events for {{'TODO'}}!</h1>
