table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 7em;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
}

h1 {
  text-align: center;
}

tr {
  text-align: center;
}

th {
  font-size: 25px;
  letter-spacing: 1.5px;
  line-height: 75px;
}

td {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 50px;
}
