<h1>
  Current Contacts
</h1>
<button mat-raised-button mat-icon-button [routerLink]="['/createContact']">
  <mat-icon>person_add</mat-icon>
</button>


<table class="mat-elevation-z4 center">
  <tr>
    <ng-container>
      <th></th>
      <th></th>
      <th></th>
    </ng-container>
  </tr>
  <tr *ngFor="let contacts of userContacts">
    <ng-container>
      <td>{{contacts.fname ? contacts.fname : ''}} {{contacts.lname ? contacts.lname : ''}}</td>
      <td>{{contacts.email ? contacts.email : ''}}</td>
      <td>{{contacts.cell ? contacts.cell : ''}}</td>
    </ng-container>
  </tr>
</table>
