<div class="container">

  <div class="tableDiv">
    <button mat-raised-button color="primary" class="buttonMargin"
    [routerLink]="['/createContact']">
      <mat-icon>
        add_circle
      </mat-icon>
      Create Contact
    </button>

    <table mat-table
           [dataSource]="userContacts" multiTemplateDataRows
           class="mat-elevation-z1">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell class="headerCell borderRadius" *matHeaderCellDef> {{columnsToDisplayNames[column]}} </th>
        <td mat-cell class="borderRadius" *matCellDef="let contact"> {{contact[column]}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell class="borderRadius" *matCellDef="let contact" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand]="contact == expandedContact ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <div class="example-element-position">
                <button mat-icon-button [matMenuTriggerFor]="contactMenu" [matMenuTriggerData]="{contact: contact}">
                  <mat-icon>more_vert</mat-icon>
                </button>
                {{contact?.fname ? contact?.fname : ''}} {{contact?.lname ? contact?.lname : ''}}
              </div>
              <div class="example-element-name"> {{contact?.email ? contact?.email : ''}} </div>
              <div class="example-element-weight"> {{contact?.cell ? contact?.cell : ''}} </div>
            </div>
            <div class="example-element-description">
              <button mat-raised-button mat-icon-button [routerLink]="['/contactEvents']" [queryParams]="{'cid': contact?.id}">
                <mat-icon>
                  event
                </mat-icon>
              </button>
              <span class="example-element-description-attribution"></span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let contact; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedContact === contact"
          (click)="expandedContact = expandedContact === contact ? null : contact">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>


    <mat-menu #contactMenu="matMenu">
      <ng-template let-contact="contact" matMenuContent>
        <button mat-menu-item (click)="openEditContactDialog(contact)">Edit Contact</button>
        <button mat-menu-item>Delete Messages</button>
      </ng-template>
    </mat-menu>
  </div>

</div>
