<div [ngStyle]="{backgroundImage: 'url(https://images.unsplash.com/photo-1521931961826-fe48677230a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)'}" id="bg"></div>


<h1>
  Never Forget A Text
</h1>


<div>
  <div>
    <button mat-raised-button [routerLink]="['/contacts']">Contacts</button>
    <button mat-raised-button [routerLink]="['/UserEvents']">All Events</button>
  </div>
</div>


<!--<div>-->
<!--  <img src="assets/img/backgroundPhoto.jpeg" id="bg" alt="">-->
<!--</div>-->
