<head>
  <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Krona+One&display=swap" rel="stylesheet">
</head>

<div>

  <div id="container-bild">
    <img src="assets/img/backgroundPhoto.jpeg" id="img-bild">
  </div>

  <div class="header verticalAlign">

    <span class="header">
      Never Forget A Text
    </span>

    <div>
      <button [routerLink]="'/contacts'">
        Contacts
      </button>

      <button [routerLink]="'/messages'">
        Messages
      </button>

    </div>

  </div>

</div>
