<head>
  <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Krona+One&display=swap" rel="stylesheet">
</head>


<div>
  <div id="container-bild">
    <img src="assets/img/contacts.jpg" id="img-bild">
  </div>

  <div>
    <button>
    </button>
  </div>

</div>

<section id="page" class="mat-elevation-z4">
  <header class="center"
          *ngIf="contacts?.selectedOptions?.selected[0]?.value">
    <button mat-icon-button [matMenuTriggerFor]="contactMenu" [matMenuTriggerData]="{contact: contacts?.selectedOptions?.selected[0]?.value}">
      <mat-icon>more_vert</mat-icon>
    </button>

    <span class="headerContactSelectedName">
      {{contacts?.selectedOptions?.selected[0]?.value?.fname}} {{contacts?.selectedOptions?.selected[0]?.value?.lname}}
    </span>

  </header>

  <nav class="center messagesHeader">
    <div>
      <button mat-raised-button>
        Bubble
        <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled"
          [(ngModel)]="checked">
          List
        </mat-slide-toggle>
      </button>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput class="form-control" type="text" name="search"
               autocomplete="off" placeholder="ex. Jacoby" disabled>
      </mat-form-field>
      <mat-icon>edit</mat-icon>
    </div>

    <mat-selection-list class="contactNames contact" [multiple]="false" #contacts>
      <mat-list-option *ngFor="let user of usersAndMessages" [value]="user" [selected]="true">
        {{user?.fname}} {{user?.lname}}
      </mat-list-option>
    </mat-selection-list>
  </nav>

  <main class="center" style="overflow: scroll; overflow-x: hidden;">
    <div id="messages">
      <app-bubble-style-messages *ngIf="contacts.selectedOptions.selected[0]?.value?.messages"
                                 [messages]="contacts.selectedOptions.selected[0]?.value?.messages"
      >
      </app-bubble-style-messages>
    </div>
  </main>

  <footer>
    <mat-form-field id="input" class="inputDiv">
      <input matInput type="text" name="message" autocomplete="off"
             placeholder="Message" class="messageInput" [(ngModel)]="messageToSend"
      >
      <mat-icon style="align-items: center">edit</mat-icon>
    </mat-form-field>
    <button (click)="sendSms(contacts.selectedOptions.selected[0]?.value)">
      Send IT
    </button>
  </footer>
</section>

<mat-menu #contactMenu="matMenu">
  <ng-template let-contact="contact" matMenuContent>
    <button mat-menu-item (click)="openEditContactDialog(contact)">Edit Contact</button>
    <button mat-menu-item [routerLink]="['/contactEvents']" [queryParams]="{'cid': contact?.id}"
    >
      Events
    </button>
    <button mat-menu-item>Delete Messages</button>
  </ng-template>
</mat-menu>
