<head>
  <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Krona+One&display=swap" rel="stylesheet">
</head>


<div>
  <div id="container-bild">
    <img src="assets/img/contacts.jpg" id="img-bild">
  </div>

  <div>
    <button>
    </button>
  </div>

</div>

<section id="page" class="mat-elevation-z4">
  <header class="center"
          *ngIf="contacts?.selectedOptions?.selected[0]?.value">
    <button mat-icon-button [matMenuTriggerFor]="contactMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <span class="headerContactSelectedName">
      {{contacts?.selectedOptions?.selected[0]?.value?.fname}} {{contacts?.selectedOptions?.selected[0]?.value?.lname}}
    </span>

  </header>
  <nav class="center messagesHeader">
    <div>
      <button mat-raised-button>
        Bubble
        <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled"
          [(ngModel)]="checked">
          List
        </mat-slide-toggle>
      </button>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput class="form-control" type="text" name="search"
               autocomplete="off" placeholder="ex. pizza" disabled>
      </mat-form-field>
      <mat-icon>edit</mat-icon>
    </div>

    <mat-selection-list class="contactNames contact" [multiple]="false" #contacts>
      <mat-list-option *ngFor="let user of usersAndMessages" [value]="user" [selected]="true">
        {{user?.fname}} {{user?.lname}}
      </mat-list-option>
    </mat-selection-list>
  </nav>

  <main class="center">
    <div *ngFor="let sent_trigger of getSentTriggers(contacts.selectedOptions.selected[0]?.value)">
      {{sent_trigger}}
    </div>
  </main>
</section>

<mat-menu #contactMenu="matMenu">
  <button mat-menu-item>Edit Contact</button>
  <button mat-menu-item>Delete Messages</button>
</mat-menu>
