<head>
  <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Krona+One&display=swap" rel="stylesheet">
</head>

<div>

  <div id="container-bild">
    <img src="assets/img/eventsBackground.jpg" id="img-bild">
  </div>

  <div style="background-color: white">
    <table *ngIf="events">
      <tr>
        <td>ID</td>
        <td>name</td>
        <td>body</td>
        <td>useriD</td>
        <td>date</td>
      </tr>
      <tr *ngFor="let event of events">
        <th>{{event.id ? event.id : ''}}</th>
        <th>{{event.name ? event.name : ''}}</th>
        <th>{{event.body ? event.body : ''}}</th>
        <th>{{event.userID ? event.userID : ''}}</th>
        <th>{{event.trigger.date ? event.trigger.date : ''}}</th>
      </tr>
    </table>
  </div>
</div>
