<div>
  <div>
    <table *ngIf="events">
      <tr>
        <td>ID</td>
        <td>name</td>
        <td>body</td>
        <td>useriD</td>
        <td>date</td>
      </tr>
      <tr *ngFor="let event of events">
        <th>{{event.id ? event.id : ''}}</th>
        <th>{{event.name ? event.name : ''}}</th>
        <th>{{event.body ? event.body : ''}}</th>
        <th>{{event.userID ? event.userID : ''}}</th>
        <th>{{event.trigger.date ? event.trigger.date : ''}}</th>
      </tr>
    </table>
  </div>
</div>

<h1 *ngIf="!events"></h1>
